{% extends "base.html" %}

{% block content %}
<div class="container m-2">
    <div class="row">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Time Series Analysis</div>
                <div class="card-body">
                    <h4 class="card-title"><a href="/bigoven/diets">Predict Revenue</a></h4>
                    <p class="card-text">Choose a date and a country</p>
                </div>
            </div>
    </div>
</div>

{% endblock %}


